body {
  padding-top: 50px;
  background: white;
/*   padding-bottom: 70px; */
}

cite {
  font-style: italic;
}

#map {
  height: 300px;
  margin: 3ex 0;
}

footer ul{
  list-style-type: none;
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}

.discord-social-media{
  float:right;
  width: 30px;
  padding-top: 10px;
}

.btn-toggle{
  margin-right: 20px;
  float:right;
  width: 50px;
  padding-top: 10px;
  cursor:pointer;
}

.btn-toggle:hover{
  filter: brightness(1.75);
}

body.dark{
  background-color: #fff !important;
  color: #333 !important;
}
body.light{
  background-color: #333 !important;
  color: #f1f1f1 !important;
}

body.dark .jumbotron{
  background-color: #eee;
}
body.dark.thumbnail,body.dark .caption{
  background-color: #fff;
  color: #333 !important;
}


body.dark footer,body.dark footer .container{
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}






body.light .jumbotron{
  background-color: rgb(71, 71, 71);
}

body.light .thumbnail,body.light .caption{
  background-color: #333;
  color: #f1f1f1 !important;
}

body.light footer,body.light footer .container{
  background-image: linear-gradient(to bottom,#333 0,#222 100%);
}

